{% extends "base.html" %}

{% block content %}
  <div class="container home-search-box">
    <div class="nomad-logo"></div>
    <div class="home-search">
      <form action="results" method="post" name="flight-search" class="flight-form" >
        {{ form.hidden_tag() }}
        <table id="home-dest-inputs" class="responsive inputs-table">
          <tr class="row-0">
            <th class="home-search-cell">
              Starting airport:<br>
              {{ form.places[0](size=45, class='places') }}
            </th>
            <th class="home-search-cell">
              Departure date:<br>
              {{ form.dates[0](size=25, class='datepicker') }}
            </th>
          </tr>
          <tr class="row-1">
            <td class="home-search-cell">
              Destination:<br>
              {{ form.places[1](size=45, class='places') }}
            </td>
          </tr>
        </table>
          <div><button type="button" class="btn btn-info" id="new-location-button">Add Another Destination</button></div>
        <input type="submit" value="SEARCH" class="home-submit">
      <!--/fieldset--!>
      </form>
    </div>
  </div>
  <div id="map" style="height: 180px"></div>
{% endblock %}
